body{
    background-color: black;
    color: white;
}
/*Update*/
header{
    position: relative;
    height: 500px;
    background-image: url(../images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    border-radius: 5px;
}
.centered {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
  }

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: xx-large;
    color: black;
    text-align: center;
    align-items: center;
    height: 600px;
    background-color: wheat;
}

#projects_section{
    display: flex;
    height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    align-items: left;
    text-align: left;
}


footer{
    height: 50px;
    margin-bottom: 20%;
}

.mainBar{
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 1vw;
    left: 1vw;
    width: 97vw;
}

.sidebar {
    z-index: 2;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; 
  }


  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar .closebtn {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    background: none;
    cursor: pointer;
    border: none;
  }

  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.social{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    background-color: rgb(21, 21, 21);
    justify-content: center;
}
.projects{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 70px;
    height: 300px;
    width: 500px;
    border: 3px solid chocolate;
    border-radius: 5px;
}

.projects div{
    font-size: medium;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 3px solid chocolate;
    flex-grow: 1;
    border-radius: 5px;
    width: 40%;
    height: 70%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1%;
    margin-bottom: 5%;
}

.projects #left{
    margin-right: 0px;
    text-align: center;
    flex-grow: 0;
    width: 40%;
}

.projects .div_header{
    font-size: xx-large;
    flex-grow: 0;
    flex-shrink: 0;
    width: 454px;
    height: 10%;
    margin-bottom: 5%;
}

.projects .break{
    border: none;
    flex-basis: 100%;
    height: 0;
    margin: 0%;
  }

.space{
    width: 10%;
    display: flex;
    flex-grow: 1;
  }
.social a{
    padding-left: 8px;
    padding-right: 8px;
}
.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
}
a{
    text-decoration: none;
}
.contacts span#pad{
    padding-right: 40%;
}

