body{
    background-color: black;
    color: white;
}

header{
    height: 500px;
    background-image: url(../images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

section{
    font-size: xx-large;
    padding-top: 40%;
    color: black;
    text-align: center;
    align-items: center;
    height: 600px;
    background-color: wheat;
}

footer{
    height: 50px;
    margin-bottom: 20%;
}

.mainBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.social{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(21, 21, 21);
}
.social a{
    padding-left: 8px;
    padding-right: 8px;
}
.contacts{
    text-align: center;
    padding-top: 50px;
}
a{
    text-decoration: none;
}
.contacts span#pad{
    padding-right: 40%;
}

